body{
    background: url("../static/images/activity.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Activities Section */
.activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

/* .activities-page {
    background: url("../images/activity.jpeg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
} */

.activity-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.activity-card img {
    width: 100%;
    border-radius: 10px;
}

.activity-card h3 {
    margin: 10px 0;
}

.activity-card p {
    font-size: 14px;
    color: gray;
}

.activity-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #ffcc00;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    transition: 0.3s;
}

.activity-card a:hover {
    background: #ffaa00;
}