<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
</head>

<nav class="navbar">
    <div class="logo">
        <a class="navbar-text" href="{{ url_for('app_routes.home') }}">Adventure Booking</a>
    </div>
    <ul class="nav-links">
        
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('app_routes.activity_listing') }}">Activities</a></li>
            <li><a href="{{ url_for('app_routes.user_dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('app_routes.contact') }}">Contact</a></li>
            <li><a href="{{ url_for('app_routes.logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('app_routes.login') }}">Login</a></li>
            <li><a href="{{ url_for('app_routes.register') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>
